@import "./variables";


/* ----- Login styles ----- */

.form-fields {
  width: 350px;
  height: 50px;
  background-color: $lightGrey;
    border-radius: 5px;
    border: 2px solid $greyBorder;
    margin: 10px;
    padding: 20px;
  }

.login-wrap {
  display: inline-flex;
  width: 100vw;
}

.login-left {
  position: relative;
  left: 120px;
  width: 100%;
  padding: 20px;
  background-color: #FFF;
}

.left-inner-wrap {
margin: 0 auto;
}

.login-btn {
position: relative;
  left: 12px;
}

.login-right{
  background-image: url('../images/bg_analytics.jpg');  
  background-size: cover;
  height: 100vh;

  &:before {
    content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(to bottom right,#48D1CC, #6A5ACD);
	opacity: .8; 
  }
}


.firebaseui-idp-google { 
  background-color: #F8F8F8 !important;
  position: relative;
  right: 25px !important;
}


.register {
  position: relative;
  left: 9px;
  color: #fff !important;
  background: linear-gradient(to bottom right,#48D1CC, #6A5ACD);
  margin-bottom: 20px;
}


.login-header {
  position: relative;
  left: 8px;
  margin-top: 10px;
}

.btn-info {
  margin-bottom: 30px;
}

.bg-signup {
  width: 100%;
  height: 100vh;
  background-image: url('../images/bg_signup.jpg');  
  background-size: cover;
  color: #fff;


  &:before {
    content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(to bottom right,#48D1CC, #6A5ACD);
	opacity: .8; 
  }
}

.signup-wrap  {
  position: relative;
  top: 30px;
}

.homelink {
  z-index: 200;
    position: relative;
    top: 200px;
    right: 410px;
    display: block;
}

.form-link {
  color: #00FFFF;
  font-weight: bold;
}




/* ----- Dashboard styles ----- */


.side-nav {
  width: 200px;
  background-color: #3d0099;
  padding: 30px;
}

.nav-link {
  color: $white;
}

.dashboard-wrap {
  display: inline-flex;
  background-color: #fbfcfd;
}

.card {
  padding: 20px;
}

.spacer {
  margin-top: 20px;
  margin-bottom: 40px;
}


.right-side {
  margin-bottom: 20px;
}

.block-wrap {
 position: relative;
 display: inline-flex;
 margin-top: 20px;
 text-align: center;
}

.canvas, .piechart-bg {
  background-color: #fff;
  margin: 0 auto;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 7px 14px 42px 3px rgba(163, 174, 184, 0.4);
  -ms-box-shadow: 7px 14px 42px 3px rgba(163, 174, 184, 0.4);
  -o-box-shadow: 7px 14px 42px 3px rgba(163, 174, 184, 0.4);
}

.piestyle {
  position: relative;
  top: 70px;
  min-height: 400px;
}

.pie-btnstyle  {
  position: relative;
  top: -40px;
}

.greeting {
  margin-top: 10px;
  margin-left: 25px;
}

.pie-chart .slice {
  stroke: black;
}

// Large screen tweaks
@media (width: 1400px) {

    .dashboard-wrap {
      width: 100%;
      height: 100vh;
  }

  .firebaseui-idp-google { 
    background-color: #F8F8F8 !important;
    position: relative;
    right: 53px !important;
  }
}



@media (min-width: 1600px) and (max-width: 1680px) {

    .login-right {
      position: relative;
      left: 30px;
      height: 105vh;
  }

  .firebaseui-idp-google { 
    background-color: #F8F8F8 !important;
    position: relative;
    right: 77px !important;
  }
}



@media (min-width: 1820px) and (max-width: 2000px) {

    .login-right {
      position: relative;
      left: 200px;
      height: 107vh;
  }

  .firebaseui-idp-google { 
    background-color: #F8F8F8 !important;
    position: relative;
    right: 77px !important;
  }
}



@media (min-width: 1300px) and (max-width: 1366px) {
  .firebaseui-idp-google { 
    background-color: #F8F8F8 !important;
    position: relative;
    right: 44px !important;
  }

}
